-- User 테이블에 누락된 컬럼들 추가
ALTER TABLE users ADD COLUMN provider VARCHAR(20) NOT NULL DEFAULT 'local';
ALTER TABLE users ADD COLUMN provider_id VARCHAR(100);
ALTER TABLE users ADD COLUMN refresh_token VARCHAR(512);
ALTER TABLE users ADD COLUMN email_verified BOOLEAN DEFAULT FALSE;
ALTER TABLE users ADD COLUMN last_login_at DATETIME;

-- 기존 데이터에 대한 기본값 설정
UPDATE users SET provider = 'local' WHERE provider IS NULL;
UPDATE users SET email_verified = FALSE WHERE email_verified IS NULL;
